[submodule "Responsive-HTML-page-using-CSS"]
	path = Responsive-HTML-page-using-CSS
	url = git@github.com:Unclemortuary/Responsive-HTML-page-using-CSS.git
[submodule "A-tag"]
	path = A-tag
	url = file://D:/Projects/VS/A-tag
